  .payment-page {
    display: flex;
    background-color: #d6d6d6
  }

  .payment-background {
    text-align: left;
    align-items: left;
    justify-content: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35%;
    height: 100vh;
    background-position: left;
  }

  .payment-div-container {
    display: flex;
  }

  .payment-container {
    width: 80%;
    height: 70vh;
    padding-top: 20vh;
    padding-left: 32vh;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .payment-container .payment-form-container {
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  }

  .payment-container .payment-form-container .payment-row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }

  .payment-container .payment-form-container .payment-row .payment-col {
    flex: 1 1 250px;
  }

  .payment-container .payment-form-container .payment-row .payment-col .payment-title {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  .payment-container .payment-form-container .payment-row .payment-col .payment-inputBox {
    margin: 15px 0;
  }

  .payment-container .payment-form-container .payment-row .payment-col .payment-inputBox span {
    margin-bottom: 10px;
    display: block;
    text-align: start;
  }

  .payment-container .payment-form-container .payment-row .payment-col .payment-inputBox input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
  }

  .payment-container .payment-form-container .payment-row .payment-col .payment-inputBox input:focus {
    border: 1px solid #000;
  }

  .payment-container .payment-form-container .payment-row .payment-col .payment-flex {
    display: flex;
    gap: 15px;
  }

  .payment-container .payment-form-container .payment-row .payment-col .payment-flex .payment-inputBox {
    margin-top: 5px;
  }

  .payment-container .payment-form-container .payment-row .payment-col .payment-inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }

  .payment-container .payment-form-container .payment-submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
  }

  .payment-container .payment-form-container .payment-submit-btn:hover {
    background: #b4b2b2;
  }

  .payment-success-container {
    height: 25rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f8ff;
  }

  .checkmark-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4CAF50;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
  }

  .checkmark {
    width: 50px;
    height: 25px;
    border: solid white;
    border-width: 0 0 5px 5px;
    transform: rotate(-45deg);
    position: absolute;
    opacity: 0;
  }

  .checkmark-animate {
    animation: checkmark 0.5s ease-in-out forwards;
  }

  @keyframes checkmark {
    to {
      opacity: 1;
      transform: rotate(-45deg) scale(1.5);
    }
  }

  .paymentS-h1 {
    font-size: 2rem;
    color: #333;
  }

  .paymentS-p {
    font-size: 1.2rem;
    color: #666;
  }