.product-nav-section {
  &>.hero-bg {
    height: 6rem;
  }
}

.product-hero-section {
  padding: 2rem 25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &>h1 {
    font-family: Expletus Sans, sans-serif;
    font-weight: 700;
    font-size: 26px;
  }

  &>.product-hero-img {
    display: flex;
    gap: 0.5rem;
    width: 100%;

    &>.product-main-img {
      width: 65%;
      height: 30.5rem;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 15px 0 0 15px;
      cursor: pointer;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;

      &:hover {
        filter: brightness(0.9);
      }
    }

    &>.product-other-img {
      width: 30%;
      display: flex;
      gap: 0.5rem;
      flex-direction: column;

      &:nth-child(3)>div {
        &:nth-child(1) {
          border-radius: 0 15px 0 0;
        }

        &:nth-child(2) {
          border-radius: 0 0 15px 0;
        }
      }

      &>div:not(.product-backdrop) {
        height: 15rem;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        cursor: pointer;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}

.product-zoomed-img {
  height: 50rem;
  border: 5px solid var(--primary-white);
}

.product-details-section {
  margin: 0 25rem;
  display: flex;
  gap: 2rem;
  border-bottom: 1px solid var(--primary-grey);

  &>.product-details-container {
    width: 60%;

    &>.product-heading {
      display: flex;
      justify-content: space-between;

      &>.product-heading-rating {
        height: fit-content;
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-size: 18px;
        font-weight: 600;

        &>svg {
          font-size: 20px;
        }
      }

      &>div {
        &>h2 {
          font-size: 22px;
          font-weight: 500;
        }
      }
    }

    &>.product-owner-details {
      margin: 1.5rem 0;
      display: flex;
      gap: 1rem;

      &>div {
        &>p {
          font-size: 14px;
          color: var(--secondary-grey);
        }

        &>h3 {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }

    &>.product-feature {
      padding: 2rem 0;
      border: 1px solid var(--primary-grey);
      border-left: 0;
      border-right: 0;

      &>h3 {
        font-size: 20px;
        font-weight: 500;
      }

      &>div {
        margin: 0.75rem 0;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 0.75rem;

        &>div {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          &>svg {
            font-size: 20px;
          }
        }
      }
    }

    &>.product-about {
      margin: 2rem 0;

      &>h3 {
        margin-bottom: 1rem;
        font-size: 20px;
        font-weight: 500;
      }
    }
  }

  &>.product-reserve-container {
    width: 40%;
    user-select: none;
    -moz-user-select: none;
    -webkit-text-select: none;
    -webkit-user-select: none;

    &>.reserve {
      width: 85%;
      margin-left: auto;
      padding: 1.5rem;
      border: 1px solid var(--primary-grey);
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);

      &>h3 {
        font-size: 20px;
        font-weight: 600;

        &>.reserve-cost {
          font-size: 20px;
          font-weight: 600;
        }

        &>span {
          font-size: 16px;
          font-weight: 400;
        }
      }

      &>div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        &>div {
          margin-right: 10rem;
          display: flex;
          gap: 0.5rem;
          align-items: center;

          &>svg {
            color: var(--secondary-grey);
            font-size: 25px;
            cursor: pointer;
            transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-duration: 150ms;

            &:hover {
              color: var(--primary-black);
            }
          }
        }
      }

      &>.btn {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}

.product-review-section {
  padding: 2rem 25rem;

  &>h1 {
    font-size: 22px;
    font-weight: 500;
  }

  &>div {
    padding: 1rem 0 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    &>.review-item {
      margin-right: 5rem;
      margin-bottom: 2rem;

      &>div:nth-child(1) {
        display: flex;
        gap: 1rem;

        &>div:nth-child(2) {
          &>h3 {
            font-size: 16px;
            font-weight: 600;
          }

          &>p {
            font-size: 14px;
          }
        }
      }

      &>div:nth-child(2) {
        margin: 0.5rem 0 0;
      }
    }
  }
}