.profile-hero-bg {
  height: 6rem;
}

.profile-section {
  padding: 3rem 15rem;
  display: flex;
  gap: 3rem;

  &>.profile-bio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.profile-container {
  width: 65rem;
  border-radius: 2rem;
  background-color: var(--primary-white);
  border: 1px solid var(--primary-grey);
}

.gradiant {
  background-image: url('/public/images/AboutUs/back.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 17rem;
  border-radius: 2rem 2rem 0 0;
}

.profile-ph img {
  height: 15rem;
  border-radius: 150px;
  margin-top: -150px;
  background-color: rgb(250, 250, 250);
  padding: 3px;
  margin-left: 100px;
  position: absolute;
}

.bio-container {
  padding: 1rem 3rem;
  margin-left: 20rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  &>.btn {
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
    margin-left: auto;
  }

  &>div {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    font-size: 20px;
  }

  &>div:nth-child(1) {
    flex-direction: column;
    gap: 0.5rem;

    &>p {
      width: fit-content;
      padding: 0.5rem;
      font-size: 14px;
      background-color: var(--primary-grey);
    }
  }
}

.details-container {
  width: 35rem;
  height: fit-content;
  border-radius: 2rem;
  background-color: var(--primary-white);
  border: 1px solid var(--primary-grey);
  padding: 2rem;
  line-height: 2.3rem;

  &>h2 {
    margin-bottom: 1rem;
    font-family: Expletus Sans, sans-serif;
    font-weight: 700;
  }
}

.summary-container {
  width: 65rem;
  border-radius: 2rem;
  padding: 3rem;
  background-color: var(--primary-white);
  border: 1px solid var(--primary-grey);
}

.profile-input {
  border: none;
  outline: none;
  background: none;
  font-family: Inter, sans-serif;

  &.profile-heading {
    font-weight: 600;
    font-size: 22px;
  }

  &.profile-bio {
    font-size: 16px;
    width: 100%;
  }
}