.review-container {
  padding-left: 25rem;
  padding-right: 25rem;
}

.review-create {
  padding-top: 30px;
  font-size: 25px;
}

.review-custom-textarea {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  resize: vertical;
}

hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

.review-overall-rating {
  padding-bottom: 20px;
}

.review-add-photo {
  padding-bottom: 18px;
}

.review-what {
  width: 100%;
  height: 30px;
}

.review-add-headline {
  padding-bottom: 18px;
}

.review-write {
  padding-top: 15px;
}

.review-custom-textarea2 {
  width: 100%;
  height: 150px;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
  resize: vertical;
}

.review-btn {}