:root {
  --primary-white: #fafafa;
  --secondary-white: #ededed;
  --primary-grey: #d6d6d6;
  --primary-black: #050505;
  --lighter-black: #333333;
  --dark-blue: #00031c;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  padding: 1.5rem 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-white);

  &>div {
    z-index: 1;
  }
}

.nav-btns {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.account-btns {
  display: flex;
  gap: 1rem;
  align-items: center;

  &>a>.btn {
    background-color: var(--secondary-white);
    color: var(--dark-blue);

    &:hover {
      background-color: var(--primary-grey);
    }
  }
}